<h1 align="center"><b>CS116.M12.KHCL - LẬP TRÌNH PYTHON CHO MÁY HỌC</b></h1>
<h1 align="center"><b>Assignment 11: XGBoost</b></h1>


**Sinh viên thực hiện:**
- Thái Trần Khánh Nguyên - 19520188

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import xgboost as xgb

# Exercise 1 + 2:

In [ ]:
data = pd.read_csv('Data.csv')
data.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [ ]:
data.isnull().values.any()

False

In [ ]:
# Cột Sample code number không ảnh hưởng đến kết quả nên sẽ bị bỏ đi
X, y = data.iloc[:,1:-1], data['Class']
X = np.array(X)

In [ ]:
kf = KFold(n_splits=5, random_state=19520188, shuffle=True)

## Gradient Boosting (GBM)

In [ ]:
accuracy_list= []
for train_index, test_index in kf.split(X):
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]

  scaler = StandardScaler()
  scaler.fit(X_train)
  X_train = scaler.transform(X_train)
  X_test = scaler.transform(X_test)

  model = GradientBoostingClassifier(learning_rate=0.01,random_state=1)
  model.fit(X_train, y_train)
  accuracy = model.score(X_test, y_test)
  accuracy_list.append(accuracy)
  print("Accuracy: {:.2f}%".format(accuracy*100))

print('---------------------------------------------')
print("Mean Accuracy: {:.2f}% +- {:.2f}".format((np.mean(accuracy_list)*100), np.std(accuracy_list)*100))

Accuracy: 94.16%
Accuracy: 93.43%
Accuracy: 94.16%
Accuracy: 96.32%
Accuracy: 94.85%
---------------------------------------------
Mean Accuracy: 94.59% +- 0.98

## Extreme Gradient Boosting (XGBoost)

In [ ]:
accuracy_list= []
for train_index, test_index in kf.split(X):
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]

  scaler = StandardScaler()
  scaler.fit(X_train)
  X_train = scaler.transform(X_train)
  X_test = scaler.transform(X_test)

  model = xgb.XGBClassifier(random_state=1, eta=0.01)
  model.fit(X_train, y_train)
  accuracy = model.score(X_test, y_test)
  accuracy_list.append(accuracy)
  print("Accuracy: {:.2f}%".format(accuracy*100))

print('---------------------------------------------')
print("Mean Accuracy: {:.2f}% +- {:.2f}".format((np.mean(accuracy_list)*100), np.std(accuracy_list)*100))

Accuracy: 97.08%
Accuracy: 97.08%
Accuracy: 97.08%
Accuracy: 97.79%
Accuracy: 97.06%
---------------------------------------------
Mean Accuracy: 97.22% +- 0.29

# Exercise 3:

In [ ]:
data = pd.read_csv('loan_data.csv')
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
data.isnull().values.any()

True

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y
5  LP001011   Male     Yes  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
#Chuẩn hóa các feature có dạng Binary về 1-0
data['Gender'] = data['Gender'].apply(lambda x : 1 if x=='Male' else 0)
data['Married'] = data['Married'].apply(lambda x : 1 if x=='Yes' else 0)
data['Education'] = data['Education'].apply(lambda x : 1 if x=='Graduate' else 0)
data['Self_Employed'] = data['Self_Employed'].apply(lambda x : 1 if x=='Yes' else 0)
data['Dependents'] = data['Dependents'].apply(lambda x : 3 if x=='3+' else x)
data['Loan_Status'] = data['Loan_Status'].apply(lambda x : 1 if x=='Y' else 0)

#One-hot vector
data = pd.concat([data, pd.get_dummies(data['Property_Area'])], axis=1)

#Loại bỏ các feature không cần thiết
data = data.drop(columns=['Loan_ID', 'Property_Area'])
data.head()

   Gender  Married Dependents  Education  ...  Loan_Status  Rural  Semiurban  Urban
1       1        1          1          1  ...            0      1          0      0
2       1        1          0          1  ...            1      0          0      1
3       1        1          0          0  ...            1      0          0      1
4       1        0          0          1  ...            1      0          0      1
5       1        1          2          1  ...            1      0          0      1

[5 rows x 14 columns]

In [ ]:
X, y =np.array(data.drop(columns=['Loan_Status'])), np.array(data['Loan_Status'])

In [ ]:
accuracy_list= []
for train_index, test_index in kf.split(X):
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]

  scaler = StandardScaler()
  scaler.fit(X_train)
  X_train = scaler.transform(X_train)
  X_test = scaler.transform(X_test)

  model = GradientBoostingClassifier(learning_rate=0.01,random_state=1)
  model.fit(X_train, y_train)
  accuracy = model.score(X_test, y_test)
  accuracy_list.append(accuracy)
  print("Accuracy: {:.2f}%".format(accuracy*100))

print('---------------------------------------------')
print("Mean Accuracy: {:.2f}% +- {:.2f}".format((np.mean(accuracy_list)*100), np.std(accuracy_list)*100))

Accuracy: 82.29%
Accuracy: 75.00%
Accuracy: 80.21%
Accuracy: 78.12%
Accuracy: 84.38%
---------------------------------------------
Mean Accuracy: 80.00% +- 3.25

In [ ]:
accuracy_list= []
for train_index, test_index in kf.split(X):
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]

  scaler = StandardScaler()
  scaler.fit(X_train)
  X_train = scaler.transform(X_train)
  X_test = scaler.transform(X_test)

  model = xgb.XGBClassifier(random_state=1, eta=0.01)
  model.fit(X_train, y_train)
  accuracy = model.score(X_test, y_test)
  accuracy_list.append(accuracy)
  print("Accuracy: {:.2f}%".format(accuracy*100))

print('---------------------------------------------')
print("Mean Accuracy: {:.2f}% +- {:.2f}".format((np.mean(accuracy_list)*100), np.std(accuracy_list)*100))

Accuracy: 80.21%
Accuracy: 79.17%
Accuracy: 77.08%
Accuracy: 71.88%
Accuracy: 82.29%
---------------------------------------------
Mean Accuracy: 78.12% +- 3.55